@model IEnumerable<ConferenceParticipantsRegistration.Database.Participant>
    
@foreach (var item in Model)
{
    <tr>
        <td>@item.FullName</td>
        <td>@item.Age</td>
        <td>@(item.RegionalCenter?.Name)</td>
    </tr>
}